---
import { type CollectionEntry, getCollection } from 'astro:content';
import BackIconButton from '../components/BackIconButton.tsx';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const docsEntries = await getCollection('docs');
  return docsEntries.map((entry: CollectionEntry<'docs'>) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await (entry as CollectionEntry<'docs'>).render();
---

<script>
  const pathupdate = () => {
    const backBtn = document.querySelectorAll('.backButton');
    backBtn.forEach((btn) => {
      btn.addEventListener('click', () => {
        // @ts-ignore
        window.swup.navigate('/', {animation: 'down'})
      })
    })
  }
  pathupdate()

  document.addEventListener('swup:page:view', pathupdate)
</script>

<Layout>
  <div class="content">
    <div class="topbar">
      <div class='backButton'>
        <BackIconButton client:load/>
      </div>
      <h1>{entry.data.title}</h1>
    </div>
    <Content />
  </div>
</Layout>

<style>
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.topbar {
  margin: 0 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.goBack {
  font-size: 2rem;
}
@media screen and (max-width: 730px) {
  .topbar {
    margin: 0 10px;
  }
}
</style>
