---
import BackIconButton from '../components/BackIconButton.tsx';
import RippleLink from '../components/RippleLink.tsx';
import HomeComponent from '../components/homeComponent.astro';
import Layout from '../layouts/Layout.astro';
---

<script>
  const pathupdate = () => {
    const backBtn = document.querySelectorAll('.backButton');
    backBtn.forEach((btn) => {
      btn.addEventListener('click', () => {
        // @ts-ignore
        window.swup.navigate('/', {animation: 'down'})
      })
    })

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry)=>{
        (document.querySelector('.topbar') as HTMLDivElement).style.background = `rgba(66 54 41 / ${1.0 - (entry.intersectionRatio + 0.6 * entry.intersectionRatio)})`;
        (document.querySelector('.topbar span') as HTMLDivElement).style.color = `rgba(255 255 255 / ${1.0 - (entry.intersectionRatio + 0.8 * entry.intersectionRatio)})`;
        })
    },
        {
            root: document.querySelector('#article_container'),
            rootMargin: "0px",
            threshold: [1, 0.95, 0.90, 0.85, 0.80, 0.75, 0.70, 0.65, 0.60, 0.5, 0.45, 0.40, 0.35, 0.30, 0.25, 0.20, 0.15, 0.10, 0.05, 0]
        }
    )

    document.querySelectorAll('.top_bigIntro').forEach((target)=> {
        observer.observe(target);
    })
  }
  pathupdate()

  document.addEventListener('swup:page:view', pathupdate)
</script>

<Layout>

  <div class="content">
    <div class="topbar">
      <div class='backButton'>
        <BackIconButton client:load/>
      </div>
      <span>Home</span>
    </div>
  <div class="mobilepage_notice">
    <div class="desc_container">
      <h3>
          This page is intended to be viewed on mobile devices.
      </h3>
      <span>
      You can view the same content on the root of the this website.
      </span>
    </div>
    <RippleLink href="/" className='hoge' client:visible>
      Go to the `/` now!
    </RippleLink>
  </div>
  <HomeComponent />
  </div>
</Layout>

<style>
.mobilepage_notice {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background: #382e23;
  padding: 20px 0;
}

h3, span {
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
}

span {
  color: #ffffffbb;
}

.desc_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media screen and (max-width: 1140px) {
  .mobilepage_notice {
      display: none;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.topbar {
  background: #423629;
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
  & span{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0;
    color: transparent;
    user-select: none;
  }
}
.goBack {
  font-size: 2rem;
}
@media screen and (max-width: 730px) {
  .topbar {
    padding: 0 10px;
  }
}

.top_bigIntro {
    padding-top: 80px;
    margin: 0 30px 50px 30px;
}
.title_top {
    font-size: 3rem;
    font-weight: 500;
}
</style>
