.rippleContainer {
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 9999px;
  background: #4b4640;
  margin: 25px 0;

  /* Workaround(m3ripple's css modules is not working) */
  overflow: hidden;
  position: relative;
  z-index: 0;

  & :global(.ripple) {
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  & :global(.sparkles_canvas) {
    position: absolute;
    user-select: none;
  }
}

.icon {
  font-size: 2rem;
  margin: 0 1.5rem;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  & span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  & p {
    margin: 0;
    font-size: 0.85rem;
    color: #ffffffdd;
  }
}
